.box{
    width: 30%;
    margin: auto;
    padding-right: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.text{
    font-size: 30px;

}
.text1{
    font-size: 28px;
    margin-left: 25%;
}
.logos{
    width: 70%
}
.height{
    height: 35px;
    border: 1px solid black;
}
.pointer{
    cursor: pointer;
   
}
.point-img{
    margin-left: -20%;
}
.button{
    width: 78%;
}
.img{
    margin-left: 15%;
    height: 100%;
}
.details{
    padding-top: 8%;
}
.or{
    margin-left: 40%;
}